<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title layout:fragment="title" th:text="Users">Users</title>
</head>

<body>
   <div id="main" layout:fragment="content">
    <p><input type="button"  class="btn btn-primary btn-sm" value="New" onclick="javascript:window.location='/mvc/users?new'" /></p>
    <table class="table table-striped table-bordered">
        <caption class="text-center lead" th:text="Usuários">Add Title</caption>
        <thead>
            <tr>
                <th scope="col" th:text="Name">Name</th>
                <th scope="col" th:text="FullName">FullName</th>
                <th scope="col" th:text="Password">Password</th>
                <th scope="col" th:text="isDeleted">isDeleted</th>
                <th scope="col" th:text="Ações">ActionsLabel</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
<!--                <td th:text="${user.userId}">Id</td>-->
                <td th:text="${user.userName}">userName</td>
                <td th:text="${user.fullName}">fullName</td>
                <td th:text="${user.userPassword}">userPassword</td>
                <td th:if="${user.isDeleted}" th:text="Ativo">Failed</td>
                <td th:unless="${user.isDeleted}" th:text="Inativo">Passed</td>
                <td> <a th:href="@{users/edit/} + ${user.userId}" th:text="Editar"> </a>
                     <a th:href="@{users/delete/} + ${user.userId}" th:text="Deletar"></a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>